<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'amber/style.css' %}" />
    <title>{% block title %}木木兔{% endblock title %}</title>
    
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
    <script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
</head>

<body class="app-amber model-member change-list">
    <!-- Header -->
    <div id="header">
      <div id="branding">
        <h1 id="site-name"><a href="{% url 'amber:index' %}">木木兔 管理</a></h1>
      </div>
      <div id="user-tools">
        {% if user.is_authenticated %}
          <span>欢迎，<strong>{{ user }}</strong></span>
          <a href="{% url 'amber:password_change' %}">修改密码</a> / <a href="{% url 'amber:logout' %}">注销</a>
        {% else %}
          <a href="{% url 'amber:login' %}">登录</a>
        {% endif %}
      </div>
    </div>
    <!-- END Header -->
    
    <div id="sidebar">
        {% block sidebar %}
        {% endblock sidebar %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>