{% extends "amber/base.html" %}

{% block content %}
<h3>生产单 = {{ now }} -- {{ dummy }}</h3>

<div id="toolbar">
  <form id="changelist-search" method="get">
    <div><!-- DIV needed for valid HTML -->
      <label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search" /></label>
      <input type="text" size="40" name="q" value="" id="searchbar" autofocus />
      <input type="submit" value="搜索" />
      {% if q %}<a href="?">全部</a>{% endif %}
    </div>
  </form>
</div>

<div class="xfull">
  <ul class="toplinks">
    <li>经手人</li>
  {% for by in bylist %}
    <li><a href="?by={{ by }}">{% if b == by %} > {% endif %} {{ by }} {% if b == by %} < {% endif %}</a></li>
  {% endfor %}
    <li><a href="?by=C">全部</a></li>
  </ul><br class="clear" />
</div>
<div class="xfull">
  <ul class="toplinks">
    <li>制作方</li>
  {% for pr in prlist %}
    <li><a href="?pr={{ pr }}">{% if p == pr %} > {% endif %} {{ pr }} {% if p == pr %} < {% endif %}</a></li>
  {% endfor %}
    <li><a href="?pr=C">全部</a></li>
  </ul><br class="clear" />
</div>

<div class="results">
<table>
    <tr>
      <th scope="col" class="sortable column-name"><div class="text"><a href="?{{ get_str }}&o={% if order_by == 1 %}-1{% else %}1{% endif %}">序号</a></div><div class="clear"></div></th>
      <th scope="col" class="sortable column-name"><div class="text"><a href="?{{ get_str }}&o={% if order_by == 2 %}-2{% else %}2{% endif %}">订制日期</a></div><div class="clear"></div></th>
      <th scope="col" class="sortable column-name"><div class="text"><a href="?{{ get_str }}&o={% if order_by == 3 %}-3{% else %}3{% endif %}">设计日期</a></div><div class="clear"></div></th>
      <th scope="col" class="sortable column-name"><div class="text"><a href="?{{ get_str }}&o={% if order_by == 4 %}-4{% else %}4{% endif %}">送厂日期</a></div><div class="clear"></div></th>
      <th scope="col" class="sortable column-name"><div class="text"><a href="?{{ get_str }}&o={% if order_by == 5 %}-5{% else %}5{% endif %}">预计完成日期</a></div><div class="clear"></div></th>
      <th scope="col" class="sortable column-name"><div class="text"><a href="?{{ get_str }}&o={% if order_by == 6 %}-6{% else %}6{% endif %}">实际完成日期</a></div><div class="clear"></div></th>
      <th scope="col" class="sortable column-name"><div class="text">经手人</div><div class="clear"></div></th>
      <th scope="col" class="sortable column-name"><div class="text">制作方</div><div class="clear"></div></th>
      <th scope="col" class="sortable column-name"><div class="text">操作</div><div class="clear"></div></th>
    </tr>
{% for craft in object_list %}
    <tr>
      <td><a href="{% url 'amber:craft' craft.id %}">{{ craft }}</a></td>
      <td>{{ craft.cdate }}</td>
      <td>{{ craft.ddate }}</td>
      <td>{{ craft.sdate }}</td>
      <td>{{ craft.edate }}</td>
      <td>{{ craft.adate }}</td>
      <td>{{ craft.producer }}</td>
      <td>{{ craft.by }}</td>
      <td></td>
    </tr>
{% empty %}
    <tr><td colspan=4>啥都没有？</td></tr>
{% endfor %}
</table>
</div>


<div class="modify">
  <span><a href="{% url 'amber:print_craft_list' %}?items={% for craft in object_list %}{{ craft.id }}{% if not forloop.last %}_{% endif %}{% endfor %}" target="_blank">打印当前</a></span>
</div>
{% endblock %}




