<h3>{{ inbound }}</h5>
<table border=1>
    <tr><td>{{ inbound.name }}</td></tr>
    <tr><td>{{ inbound.desc }}</td></tr>
    <tr><td>{{ inbound.get_kind_display }}</td></tr>
    <tr><td>{{ inbound.get_type_display }}</td></tr>
    <tr><td>{{ inbound.quantity }}</td></tr>
    <tr><td>{{ inbound.qunit }}</td></tr>
    <tr><td>{{ inbound.weight }}</td></tr>
    <tr><td>{{ inbound.wunit }}</td></tr>
    <tr><td>{{ inbound.baseprice }}</td></tr>
    <tr><td>{{ inbound.saleprice }}</td></tr>
    <tr><td>{{ inbound.date }}</td></tr>
    <tr><td>{{ inbound.by }}</td></tr>
    <tr><td>{{ inbound.tag }}</td></tr>
</table>
