{% extends "amber/base.html" %}

{% block content %}
<div>
  <h2><a href="{% url 'amber:member_list' %}" >会员管理</a></h2>
</div>

{% if is_group_finance or is_group_sales or user.is_superuser %}
<div>
  <h2><a href="{% url 'amber:store_list' %}" >库存查看</a></h2>
</div>
{%endif%}

{% if is_group_sales or is_group_designer or user.is_superuser %}
<div>
  <h2><a href="" >订单管理</a></h2>
</div>
{%endif%}
{% endblock %}

{% block sidebar %}
<div>
      <h4><a href="{% url 'amber:contact' %}" >留言</a></h4>
      <h4>{{ dummy }} - {{ now }}</h4>
</div>
{% endblock %}