{% extends "amber/base.html" %}

{% block content %}
<div>
  <h2><a href="{% url 'amber:member_list' %}" >会员管理</a></h2>
</div>

{% if is_group_finance or is_group_sales or user.is_superuser %}
<div>
  <h2><a href="{% url 'amber:store_list' %}" >库存查看</a></h2>
</div>
{% endif %}

{% if is_group_designer or user.is_superuser %}
<div>
  <h2><a href="{% url 'amber:craft_list' %}" >生产单查看</a></h2>
</div>
{% endif %}

{% if is_group_sales or is_group_designer or user.is_superuser %}
<div>
  {% if pending_outbound %}
  <div>
    <h3>进行中的出库单</h3>
    <form id="pending_outbound" action="" method="post">{% csrf_token %}
      <table>
        <tr><td>
          <select name="outbounds" id="id_outbounds" multiple="multiple">
          {% for ob in pending_outbound %}
            <option value="{{ ob.id }}">{{ ob }}: {{ ob.store.inb.name }} - {{ ob.quantity }}({{ ob.store.inb.qunit }})</option>
          {% endfor %}
          </select>
        </td></tr>
        <tr><td>
          <input id="go_craft"  type="button" value="生产单" />
          <input id="go_return" type="button" value="退回" />
        </td></tr>
      </table>
    </form>
    <script>
        var f = document.getElementById('pending_outbound');
        var go_craft  = document.getElementById('go_craft');
        var go_return = document.getElementById('go_return');
        
        go_craft.onclick = function() {
            var s = document.getElementById('id_outbounds');
            var options = s && s.options;
            var opt;
            var valid = false;
            for (var i = 0, iLen = options.length; i < iLen; i++) {
              opt = options[i];
              if (opt.selected) {
                valid = true;
              }
            }
            if (!valid) {
              alert('至少选一个吧。。。');
            } else {
              f.action = "{% url 'amber:craft_create' %}"
              f.method = "get";
              f.submit();
            }
        }
        go_return.onclick = function() {
            var s = document.getElementById('id_outbounds');
            var options = s && s.options;
            var opt;
            var valid = 0;
            for (var i = 0, iLen = options.length; i < iLen; i++) {
              opt = options[i];
              if (opt.selected) {
                valid += 1;
              }
            }
            if (valid > 1) {
              alert('一个一个退。。。');
            } else {
              f.action = "{% url 'amber:return_outbound' %}"
              f.submit();
            }
        }
    </script>
  </div>
  {% endif %}
</div>
{% endif %}

{% endblock %}

{% block sidebar %}
<div>
      <h4><a href="{% url 'amber:contact' %}" >留言</a></h4>
      <h4>{{ dummy }} - {{ now }}</h4>
</div>
{% endblock %}