<h5>{{ member }}</h5>
<ul>
    <li>{{ member.name }}</li>
    <li>{{ member.email }}</li>
    <li>{{ member.mobile }}</li>
    <li>{{ member.address }}</li>
    <li>{{ member.gender }}</li>
    <li>{{ member.join_date }}</li>
    <li>{{ member.birthday }}</li>
    <li>{{ member.rank_str }}</li>
    <li>{{ member.status_str }}</li>
	{% if member.portrait %}
    <li>{{ member.portrait.url }}</li>
    <li><img src="../..{{ member.portrait.url }}" alt="" height=120 width=90 /></li>
	{% endif %}
</ul>

<a href="/admin/amber/member/{{ member.id }}/change/">修改</a>