<style>
  table { width: 1000px; min-height: 25px; line-height: 25px; text-align: center; border-color:#ffffff; border-collapse: collapse;}   
</style>

{% for store in ol %}
<table border=1 width=100% cellspacing="0">
  <tr><td width=10%>编号：</td><td></td><td colspan=6><p align="left">{{ store }}</td></tr>
  <tr>
    <td width=10%>名称：</td><td width=15%>{{ store.inb.name }}</td>
    <td width=10%>类别：</td><td width=15%>{{ store.inb.get_kind_display }}</td>
    <td width=10%>库存类型：</td><td width=15%>{{ store.inb.get_type_display }}</td>
    <td width=10%>库号：</td><td width=15%>{{ store.inb.get_where_display }}</td>
  </tr>
  <tr>
    <td>数量：</td><td colspan=2>{{ store.inb.quantity }} {{ store.inb.qunit }}</td>
    <td>重量：</td><td colspan=2>{{ store.inb.weight }} {{ store.inb.wunit }}</td>
    <td>总重：</td><td>{{ store.inb.tweight }}</td>
  </tr>
{% if can_viewbase %}
  <tr>
    <td>售价：</td><td colspan=2>{{ store.inb.saleprice }}</td>
    <td>总价：</td><td colspan=2>{{ store.inb.tprice }}</td>
    <td>单价：</td><td>{{ store.inb.baseprice }}</td>
  </tr>
{% else %}
  <tr>
    <td>售价：</td><td colspan=3>{{ store.inb.saleprice }}</td>
    <td>总价：</td><td colspan=3>{{ store.inb.tprice }}</td>
  </tr>
{% endif %}
{% if store.inb.ktype != 9999 %}
  <tr>
    <td>长度：</td><td colspan=2>{{ store.inb.length }}</td>
    <td>直径度：</td><td colspan=2>{{ store.inb.diameter }}</td>
    <td>K金类别：</td><td>{{ store.inb.get_ktype_display }}</td>
  </tr>
{% endif %}
  <tr>
    <td>剩余：</td><td colspan=3>{{ store.remains }}</td>
    <td>状态</td><td colspan=3>{{ store.get_status_display }}</td>
  </tr>
  <tr>
    <td>折扣：</td><td colspan=2>{{ store.discount }}</td>
    <td>特价：</td><td colspan=2>{{ store.bestsale }}</td>
    <td>折后价：</td><td>{{ store.final_price }}</td>
  </tr>
  <tr>
    <td>入库日期：</td><td colspan=2>{{ store.inb.date }}</td>
    <td>供应商：</td><td colspan=2>{{ store.inb.provider }}</td>
    <td>经手人：</td><td>{{ store.inb.by }}</td>
  </tr>
  <tr><td width=10%>备注：</td><td colspan=7><p align="left">{{ store.inb.tag }} - {{ store.tag }}</td></tr>
</table>
<br/>
{% endfor %}
