{% extends "amber/base_nh.html" %}

<style>
  table { width: 1000px; min-height: 25px; line-height: 25px; text-align: center; border-color:#ffffff; border-collapse: collapse;}   
</style>

{% block content %}

<table id="blob" border=1 width=100% cellspacing="0">
    <tr>
      <th width=7%>编号</th>
      <th width=10%>图片</th>
      <th width=20%>名称</th>
      <th width=7%>库存类型</th>
	  <th width=7%>K金类别</th>
	  <th width=5%>库存状态</th>
      <th width=5%>库号</th>
	  <th width=9%>剩余数量</th>
      <th width=10%>售价（特价*）</th>
      <th width=20%>备注</th>
    </tr>
{% for store in ol %}
    <tr>
      <td>{{ store.inb.seq }}</td>
      <td>
{% for img in imgs %}
{% if img.store.id == store.id %}
      <img src="..{{ img.image.url }}" alt="" height=60 width=90 />
{% endif %}
{% endfor %}
      </td>
      <td>{{ store.inb.name }}</td>
      <td>{{ store.inb.get_type_display }}</td>
	  <td>{{ store.inb.get_ktype_display }}</td>
	  <td>{{ store.get_status_display }}</td>
      <td>{{ store.inb.get_where_display }}</td>
	  <td>{{ store.remains }}</td>
{% if store.discount != 100 or store.bestsale != 0 %}
      <td>{{ store.final_price }}*</td>
{% else %}
      <td>{{ store.inb.saleprice }}</td>
{% endif %}
      <td>{% if store.inb.tag %} {{ store.inb.tag }} {% endif %} {% if store.tag %} - {{ store.tag }} {% endif %}</td>
    </tr>
{% endfor %}
</table>

<a id="download">导出表格</a>
<script>
  var html = "<html><head><meta charset='utf-8' /></head><body>" + document.getElementById("blob").outerHTML + "</body></html>";
  var blob = new Blob([html], { type: "application/vnd.ms-excel" });
  var a = document.getElementById("download");
  a.href = URL.createObjectURL(blob);
  a.download = "库存.xls";
</script>


{% endblock %}