{% extends "amber/base.html" %}

{% block content %}
{{ dummy }}
{% for store in ol %}
<ul>
    <li>{{ store }}</li>
    <li>{{ store.inb.name }}</li>
    <li>{{ store.inb.get_kind_display }}</li>
    <li>{{ store.inb.get_type_display }}</li>
    <li>{{ store.inb.get_where_display }}</li>
    <li>{{ store.inb.quantity }}</li>
    <li>{{ store.inb.qunit }}</li>
    <li>{{ store.inb.weight }}</li>
    <li>{{ store.inb.wunit }}</li>
  {% if can_viewbase %}  
    <li>{{ store.inb.baseprice }}</li>
  {% endif %}
    <li>{{ store.inb.saleprice }}</li>
    <li>{{ store.final_price }}</li>
    <li>{{ store.inb.tweight }}</li>
    <li>{{ store.inb.tprice }}</li>
    <li>{{ store.inb.provider }}</li>
    <li>{{ store.inb.date }}</li>
    <li>{{ store.inb.by }}</li>
    <li>{{ store.inb.length }}</li>
    <li>{{ store.inb.diameter }}</li>
    <li>{{ store.inb.get_ktype_display }}</li>
    <li>{{ store.inb.tag }}</li>
    <li>{{ store.remains }}</li>
    <li>{{ store.discount }}</li>
    <li>{{ store.bestsale }}</li>
    <li>{{ store.get_status_display }}</li>
</ul>
{% endfor %}
{% endblock %}