{% extends "amber/base.html" %}

{% block content %}
<h3>库存 = {{ now }} -- {{ dummy }}</h3>

<div class="xfull">
  <ul class="toplinks">
    <li>入库日期</li>
  {% for year in ylist %}
    <li><a href="?date__year={{ year }}">{{ year }}</a></li>
  {% endfor %}
    <li><a href="?">全部</a></li>
  </ul><br class="clear" />
</div>


<div class="results">
<table>
    <tr>
      <th scope="col" class="sortable column-name"><div class="text"><a href="?{{ get_str }}&o={% if order_by == 1 %}-1{% else %}1{% endif %}">序号</a></div><div class="clear"></div></th>
      <th scope="col" class="sortable column-name"><div class="text"><a href="?{{ get_str }}&o={% if order_by == 2 %}-2{% else %}2{% endif %}">名称</a></div><div class="clear"></div></th>
      <th scope="col" class="sortable column-name"><div class="text"><a href="?{{ get_str }}&o={% if order_by == 3 %}-3{% else %}3{% endif %}">种类</a></div><div class="clear"></div></th>
      <th scope="col" class="sortable column-name"><div class="text"><a href="?{{ get_str }}&o={% if order_by == 4 %}-4{% else %}4{% endif %}">库存类型</a></div><div class="clear"></div></th>
      <th scope="col" class="sortable column-name"><div class="text"><a href="?{{ get_str }}&o={% if order_by == 5 %}-5{% else %}5{% endif %}">剩余</a></div><div class="clear"></div></th>
      <th scope="col" class="sortable column-name"><div class="text"><a href="?{{ get_str }}&o={% if order_by == 6 %}-6{% else %}6{% endif %}">单位</a></div><div class="clear"></div></th>
      {% if can_viewbase %}
      <th scope="col" class="sortable column-name"><div class="text"><a href="?{{ get_str }}&o={% if order_by == 7 %}-7{% else %}7{% endif %}">成本</a></div><div class="clear"></div></th>
      {%endif%}
      <th scope="col" class="sortable column-name"><div class="text"><a href="?{{ get_str }}&o={% if order_by == 8 %}-8{% else %}8{% endif %}">售价</a></div><div class="clear"></div></th>
      <th scope="col" class="sortable column-name"><div class="text"><a href="?{{ get_str }}&o={% if order_by == 9 %}-9{% else %}9{% endif %}">入库日期</a></div><div class="clear"></div></th>
    </tr>
{% for item in object_list %}
    <tr>
      <td><a href="">{{ item }}</a></td>
      <td>{{ item.inb.name  }}</td>
      <td>{{ item.inb.kind }}</td>
      <td>{{ item.inb.type }}</td>
      <td>{{ item.remains }}</td>
      <td>{{ item.inb.unit }}</td>
      {% if can_viewbase %}
      <td>{{ item.inb.baseprice }}</td>
      {%endif%}
      <td>{{ item.inb.saleprice }}</td>
      <td>{{ item.inb.date }}</td>
    </tr>
{% empty %}
    <tr><td colspan=4>啥都没有？</td></tr>
{% endfor %}
</table>
</div>


{% if can_in %}
<div class="modify">
  <span><a href="{% url 'amber:inbound_create' %}">入库</a></span>
</div>
{%endif%}
{% endblock %}




